@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guild Cars</h1>
    <p class="lead">Trust us! We are honest! We will sell you a reliable vehicle!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <h2>Featured Vehicles</h2>
    <div class="row">
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-3">
            <p>
                <img src="@Url.Content("~/Images/prizmPic2.jpg")" />
            </p>
            <h4>Geo Prizm</h4>
            <p>$800</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
