@model GuildCars.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        #map {
            height: 200px;
            width: 40%;
        }

        .btn-lg {
            background-color:darkseagreen;
            border:solid;
            border-color:darkgreen;
            display:inline-block;

        }
    </style>
</head>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        @foreach (var special in  Model.specials)
        {
                @:$('<div class="item"><h3>@special.SpecialName</h3><p><a class="btn btn-info" href="Home/Specials">check it!</a></p><div class="carousel"></div> </div>').appendTo('.carousel-inner');
                        }
        $('.item').first().addClass('active');
        $('#carousel-example-generic').carousel();
    });
</script>

<div class="container">
    <h2 style="text-align:center"><strong>Guild Cars</strong></h2>
    <div style="background-color:darkseagreen" class="jumbotron">
        <div id="carousel-specials" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <!--listbox is for accessibility people-->
                <!--javascript takes care of this div-->
            </div>
        </div>
    </div>
    <div style="background-color:none">
        <h2>Featured Vehicles</h2>
        <div class="row">
            @foreach (var vehicle in Model.vehicles)
            {
                if (vehicle.IsFeature)
                {
                    <button class="btn btn-lg col-md-3">

                        @if (vehicle.PictureFilePath != null)
                        {
                            <img src="@Url.Content("~/Images/" + vehicle.PictureFilePath)" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Images/defaultVehiclePic.jpg")" />
                        }
                        <p class="featured">@vehicle.Year @vehicle.Model</p>
                        <p class="featured">$@vehicle.MSRP</p>
                    </button>
                }
            }
        </div>
    </div>
    <hr />
    <div id="map"></div>
</div>
<script>
    function initMap() {
        var uluru = { lat: 45.007397, lng: -93.260735 };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgHW-2mFhqnVv4g94ktGnTSQqpJ6kaHg0&callback=initMap">
</script>

