@model IEnumerable<GuildCars.Models.Tables.Vehicle>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guild Cars</h1>
    <p class="lead">Trust us! We are honest! We will sell you a reliable vehicle!</p>
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h3>Special No1</h3>
                    @*<img class="d-block img-fluid" src="..." alt="First slide">*@
                    @*the line above was provided in the official bootstrap example for every 'item' div but I don't think I'll need it*@ 
                </div>
                <div class="item">
                    <h3>Special No2</h3>
                    
                </div>
                <div class="item">
                    <h3>Special No3</h3>
                    
                </div>
            </div>
        </div>
    </div>
    <br />
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <h2>Featured Vehicles</h2>
        @foreach (var vehicle in Model)
        {
            <div class="col-md-3">
                <p class="featured">
                    @if (vehicle.PictureFilePath != null)
                    { 
                        <img src="@Url.Content(vehicle.PictureFilePath)"/> 
                    }
                    else
                    {
                        <img src="@Url.Content("~/Images/defaultVehiclePic.jpg")"/>
                    }
                </p>
                <p class="featured">@vehicle.Year @vehicle.Model</p>
                <p class="featured">$@vehicle.MSRP</p>
                <p class="featured">@vehicle.Description</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Bad Link &raquo;</a></p>
            </div>
        }
    </div>
</div>

