@model IEnumerable<GuildCars.Models.Tables.Vehicle>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guild Cars</h1>
    <p class="lead">Trust us! We are honest! We will sell you a reliable vehicle!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container">
    <div class="row">
        <h2>Featured Vehicles</h2>
        @foreach (var vehicle in Model)
        {
            <div class="col-md-3">
                <p class="featured">
                    @if (vehicle.PictureFilePath != null)
                    { 
                        <img src="@Url.Content(vehicle.PictureFilePath)"/> 
                    }
                    else
                    {
                        <img src="@Url.Content("~/Images/defaultVehiclePic.jpg")"/>
                    }
                </p>
                <p class="featured">@vehicle.Year @vehicle.Model</p>
                <p class="featured">$@vehicle.MSRP</p>
                <p class="featured">@vehicle.Description</p>
                <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Bad Link &raquo;</a></p>
            </div>
        }
    </div>
</div>
