@model IEnumerable<GuildCars.Models.Tables.Vehicle>
@{
    ViewBag.Title = "Inventory";
}
<head>
    <!--THIS WAS HERE TO ADD NICE BORDERS TO THE LIST OF VEHICLES THAT WAS ORIGINALLY LOADED INTO THIS VIEW IN THE COMMENTED OUT CODE AT THE BOTTOM-->
    @*<style>
        .row {
            border: 1px solid;
        }

            .row + .row {
                border-top: .5px solid;
            }
    </style>*@
</head>
<h1>@ViewBag.Title. Browse our expansive inventory .</h1>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-xs-12">
        <form id="searchForm" class="form-inline">
            <div class="form-group">
                <label for="city">Quick Search</label>
                <input type="text" class="form-control" id="carSearch" placeholder="make, model, or year">
            </div>
            <div class="form-group">
                <label for="Price">Min Price</label>
                @Html.DropDownList("min$", new SelectList(Model,  "SalePrice"), "Any", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="SalePrice">Max Price</label>
                @Html.DropDownList("max$", new SelectList(Model, "SalePrice"), "Any", new { @class = "form-control" })
            </div>
            <button id="btnSearch" class="btn btn-default">Search</button>
        </form>
      </div>  
</div>
    <div id="searchResults" class="col-xs-12"></div>

@section Scripts
{
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                search();
                return false;
            });
        });

        function search() {
            var params = 'searchVal=' + $('#carSearch').val();

            $.ajax({
                type: 'GET',
                url: 'http://localhost:50929/Vehicle/search?' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    $.each(results, function (index, vehicle) {
                        var html = '<p>' + vehicle.Model + '</p>';

                        $('#searchResults').append(html.toString());
                    });

                },
                error: function () {
                    alert('Error performing search, try again later!')
                }
            });
        }
    </script>    
}
    @*<script>
        $("#Search").click(function find() {
            var searchVal = $('#carSearch').val();
            $.getJSON('Vehicle/' + searchVal)
                .done(function (data) {
                    $('#searchResult').text(formatItem(data));
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#searchResult').text('Error: ' + err);
                });
        });
    </script>*@

    



<!--THE CODE BELOW DISPLAYS ALL THE VEHICLES, WHICH I DID INITIALLY FOR SOME REASON-->
@*<div style="background-color:transparent">
    

        @foreach (var vehicle in Model)
            {
            <div class="row">
                <div class="col-md-3">
                    <div class="box">
                        <p>@vehicle.Year @vehicle.MakeId @vehicle.Model</p>
                        @if (vehicle.PictureFilePath != null)
                        {
                            <img src="@Url.Content("~/Images/" + vehicle.PictureFilePath)" />
                        }
                        else
                        {
                            <img src="@Url.Content("~/Images/defaultVehiclePic.jpg")" />
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <ul class="box">

                        <li>Body Style: @vehicle.BodyStyleId</li>
                        <li>Trans: @vehicle.TransmissionId</li>
                        <li>Color: @vehicle.ColorId</li>
                    </ul>
                </div>
                <div class="col-md-3">

                    <ul class="box">
                        <li>Interior: @vehicle.InteriorId</li>
                        <li>Mileage: @vehicle.Mileage</li>
                        <li>VIN #: @vehicle.VIN</li>
                    </ul>

                </div>
                <div class="col-md-3">
                    <ul class="box">
                        <li>Sale Price: $@vehicle.SalePrice</li>
                        <li>MSRP: $@vehicle.MSRP</li>
                    </ul>
                    <a class="btn btn-primary" href="~/Views/Home/Index.cshtml">details</a>
                </div>
                <hr />
                </div>
                }
            
</div>*@
